:root {
  color: var(--main-color);
  background-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 14px;
  color: var(--black);
}

.main {
  width: 100%;
  height: 100%;
  flex: 1 1;
}

.container {
  width: 100%;
  max-width: 1470px;
  height: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: inherit;
}

select {
  border: none;
  outline: none;
  -webkit-appearance: none; /* Для Chrome/Safari */
  -moz-appearance: none;    /* Для Firefox */
  appearance: none;
  box-shadow: none;
}

select:hover {
  background: white;
}

select:focus {
  border: none;
  box-shadow: none;
}

select:active {
  border: none;
  box-shadow: none;
}



