@use "../../styles/breakpoints" as breakpoints;

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.home-slider {
  width: 100%;
  height: 600px;
  padding: 0 15px;
  margin: 28px 0 40px 0;

  @media (max-width: 1024px) {
    height: 420px;
  }

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 100%;
    height: 100%;
    display: inline-block;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: 24px !important;
    left: 12% !important;
    width: 140px !important;
    height: 20px !important;

    &-bullet {
      background: var(--grey);
      width: 20px;
      height: 20px;

      &-active {
        background: var(--red);
      }
    }

    @media (max-width: 1024px) {
      left: 0 !important;
    }
  }
}

.custom-prev-btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 60px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  cursor: pointer;

  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

.custom-next-btn {
  z-index: 3;
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translateY(-50%);
  width: 34px;
  height: 34px;
  cursor: pointer;

  &.swiper-button-disabled {
    opacity: 0.3;
  }
}

@media (max-width: 1700px) {
  .custom-prev-btn,
  .custom-next-btn {
    display: none;
  }
}
