.select {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 12px 0 8px;
    outline: none;
    border: none;
       
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        cursor: pointer;
    }
}

.select-wrapper {
   display: flex;
   align-items: center;
   column-gap: 10px;    

   &__arrow {
    width: 12px;
    height: 8px;
    cursor: pointer;
   }

   option {
    background: var(--grey-400);
    font-size: 12px;
    border: none !important;
   }
}

